<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DcForumCategoryMapper">
    
    <resultMap type="DcForumCategory" id="DcForumCategoryResult">
        <result property="categoryId"      column="category_id"      />
        <result property="categoryName"   column="category_name"     />
        <result property="categoryIcon"    column="category_icon"     />
        <result property="sortOrder"       column="sort_order"        />
        <result property="status"          column="status"           />
        <result property="createBy"        column="create_by"        />
        <result property="createTime"      column="create_time"      />
        <result property="updateBy"        column="update_by"        />
        <result property="updateTime"      column="update_time"      />
        <result property="remark"          column="remark"           />
    </resultMap>

    <sql id="selectDcForumCategoryVo">
        select category_id, category_name, category_icon, sort_order, status,
               create_by, create_time, update_by, update_time, remark
        from dc_forum_category
    </sql>

    <select id="selectDcForumCategoryList" parameterType="DcForumCategory" resultMap="DcForumCategoryResult">
        <include refid="selectDcForumCategoryVo"/>
        <where>  
            status = '0'
        </where>
        order by sort_order asc
    </select>

</mapper>

